.tou{
    height: 60px;
    background: #e54847;
}
.biaoti i{
    margin-top: 15px;
   
    float: left;
    font-size: 20px;
    color:#fff;
    width: 250px;
    word-break:keep-all; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 1;
    text-align: left;
    margin-left: 22px;
}
.miaoshu{
   
    height: 183px;
}
.miaoshu img{
    float: left;
    margin-left: 18px;
    margin-top: 18px;
}
.you{
    width: 230px;
    height: 150px;

    float: right;
    margin-top: 18px;
 
    position: absolute;
    left: 140px;
}
.you h3{
    font-size: 18px;
    position: absolute;
    top: -20px;
    color: #fff;
    width: 200px;
    word-break:keep-all; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 1;
    text-align: left;
}
.you .er{
    position: absolute;
    top: 20px;
    width: 230px;
    text-align: left;


}
.you b{
    width: 200px;
    word-break:keep-all; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 1;
    font-size: 12px;
    float: left;
    text-align: left;
    color: #fff;
}
.you li{
    list-style: none;
    float: left;
  width: 25px;
  height: 25px;

  
}
.you li img{
    width: 22px;
    height: 22px;
}
.you ul{
    position: relative;
    top: 20px;
    left: -15px;
 
 
}
.you ul .Sx{
    font-size: 18px;
    position: absolute;
    top: 18px;
    color: #ffc600;
}
.you ul span{
    position: absolute;
    left: 140px;
    top: 23px;
 
}
.xia{
    position: absolute;
    top: 63px;
  
    width: 230px;
    height: 100px;

   
}
.xia .pf{
   
    font-size: 12px; float: left;
    text-align: left;
    color: #fff;
}
.xia .biaoqian{
    font-size: 12px;
    float: left;
    color: #fff;
    text-align: left;
}
.xia .y2{
    width: 230px;
    height: 30px;
    position: absolute;
    top: 25px;
    text-align: left;
  
}
.xia .didian{
    font-size: 12px;
    text-align: left;
    float: left;
    color: #fff;
}
.xia .y3{
    text-align: left;
    width: 230px;
    height: 30px;
    position: absolute;
    top: 44px;
 

}
.xia .shijian{
    text-align: left;
    font-size: 12px;
    float: left;
    color: #fff;
}
.xia .y4{
    text-align: left;
    width: 230px;
    height: 30px;
    position: absolute;
    top: 63px;

}
.xia .yi{
    position: absolute;
    text-align: left;
    width: 230px;
    right: 150px;

    height: 30px;
    background: blue;
}
.jianjie{
    position: relative;
 display: block;
 width: 371px;
  font-size: 14px; 
 word-break:keep-all; 
 white-space:wrap;
 overflow:hidden;
 text-overflow:ellipsis;
 text-align: justify;
 
   
}
.jianjie input{
    width:345px;
    height: 40px;
    border-radius: 5px;
    background: #e54847;
    border: 1px #e54847 solid;
    margin-top:20px;
    font-size: 17px;
    color: #fff;
}

.zhankai{
  
    position: relative;
    font-size: 20px;
  
  

    
}
.fenli{
    height: 12px;
    background:#f4f4f4;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;

}
.yanyuan{
    height: 162px;
    background: red;
}
  

