
ul{
    margin: 0;
    padding: 0;
}
.box{
   
}
.head{
    height: 60px;
    background: #e54847;
}
.fh span{
    font-size: 50px;
    color:#fff;
    float: left;
    margin-top:-8px
     
}
.head i{
    float: left;
    margin-left: 110px;
    color: #fff;
    font-size: 20px;
    margin-top:15px;
}
.iu{
    height: 45px;
    background: #f5f5f5;
    
}
.iu input{
   width: 80%;
   height: 23px;
   margin-top: 10px;
  border: 1px solid #e6e6e6;
  border-radius:5px;
  margin-right: 40px;
}
.iu i{
    position:absolute;
  left: 300px;
 z-index: 1;
 top: 72px;
}



.ls .cha{
    float: right;

}
.ls .left{
    float: left;

}

.dianshi{
    height: 24px;  
    padding-right: 200px;
   padding-bottom: 10px;

    border-bottom: 1px #e6e6e6 solid;
   
}
.dianshi p{
  
 
  
   color :#999;
}   
.xianshi{
    list-style:none;
    height: 118px;
    display: block;
    border-bottom: 1px #e6e6e6 solid;

}


.xianshi p{
    font-size: 12px;
    float: right;
}
.xianshi .zuobian{
    position: absolute;
    left: 15px;
    margin-top: 10px;
}
.xianshi .youbian{
   
    float: right;
    width: 270px;
    height: 100px;
    margin-top: 10px;

    position: relative;
    
}
.youbian h2{
    word-break:keep-all; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 1;
    width: 200px;
    float: left;
    font-size: 17px;
    float: left;
    position: absolute;
    top: -13px;
    color:#222;
    text-align: left;

}
.youbian .er{
    text-align: left;
  
    width: 200px;
    position: absolute;
    font-size: 14px;
    top: 13px;
   display: block;
    word-break:keep-all; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp: 1;
    color:#666;
    
}
.youbian .san{
    position: absolute;
    font-size: 14px;
    top: 33px;
    color:#666;
    
}
.youbian .si{
    font-size: 14px;
    position: absolute;
    top: 55px;
    color:#666;
}


.tz span{
    float: right;
    margin-right: 10px;
    margin-top: -23px;
  
}
.lakai{
    height: 30px;
   color: red;
}
